* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: sans-serif;
}

body,
.temp-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #31576f;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  border-radius: 1.5rem;
  box-shadow: 7px 7px 50px -5px black;
}

.temp-text {
  /* background-color: #1a5ba6; */
  color: white;
  width: 10.3rem;
  height: 10.3rem;
  border-radius: 50%;
  border: 3px solid white;
  margin-bottom: 1.7rem;
  font-size: 2.4rem;
}

.buttons-div {
  display: flex;
  justify-content: space-between;
  gap: 1.7rem;
}

.btn {
  background-color: #605e60;
  border: 2px solid white;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  width: 4.5rem;
  height: 4.5rem;
  /* text-align: center; */
  font-size: 2rem;
  transition: transform 0.2s;
}

.btn:active {
  transform: scale(0.9);
}
